[MESSAGES CONTROL]
disable=fixme,no-else-raise,no-else-return,too-few-public-methods,too-many-arguments,too-many-branches,too-many-instance-attributes,too-many-locals,too-many-public-methods,too-many-return-statements,too-many-statements,unnecessary-pass,unused-argument

[MASTER]
ignore=markdown_it

[SIMILARITIES]

min-similarity-lines=6

